<div class="submit-button p-5">
  <h1>Editing Person</h1>
</div>

<%= render 'form', person: @person %>

<div class="submit-button">
  <%= link_to 'Show', @person, :class=> "btn btn-primary"%>
</div>
<div class="submit-button">
  <%= link_to 'Back', people_path, :class=> "btn btn-warning" %>
</div>

