<div class="title">
  <h1>Editing Alumni</h1>
</div>


<%= render 'form', alumni: @alumni %>

<div class="submit-button">
  <%= link_to 'Show', @alumni, :class=> "btn btn-primary" %>
</div>

<div class="submit-button">
  <%= link_to 'Back', alumnis_path, :class=> "btn btn-dark" %>
</div>

