<header> 
  <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
  <a class="navbar-brand" href="./home_pages">AADE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="./home_pages">Home</a>
      <a class="nav-item nav-link active" href="./schedules">Schedule<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="./officer_pages">Officer Page</a>
    </div>
  </div>
  </nav>
  <h1 style ="text-align: center; padding: 20px;">Upcoming Events</h1>
</header>

<html>
  <div class = "center-div">
    <div class = "calendar-div">
      <body>
      <!-- Change this iframe when we get the official calnedar-->
      <iframe src="https://calendar.google.com/calendar/embed?src=aade.test.calendar%40gmail.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </body>
    </div>
  </div>

<br>

</html>