<!DOCTYPE html>
<html>

  <head>
    <title>Schedule</title>
    <%= stylesheet_link_tag 'schedules' %>
  </head>
  <h1 class = "upcoming-events">Upcoming Events</h1>
  <body>

    <div class = "center-div">
      <!-- Change this iframe when we get the official calnedar-->
      <iframe id = "calendar-iframe" src="https://calendar.google.com/calendar/embed?src=aade.test.calendar%40gmail.com&ctz=America%2FChicago" frameborder="0" scrolling="no"></iframe>
    </div>
    
  </body>

</html>