<p id="notice"><%= notice %></p>
<header> 
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="./home_pages">Home</a></li>
        <li><a href="./officer_pages">Officers</a></li>
        <li><a href="./alumnis">Alumnis</a></li>
        <li><a href="./schedules">Calendar</a></li>
      </ul>
    </div>
  </nav>
  <h1 style ="text-align: center;">AADE Schedule</h1>
</header>

<html>
  <div class = "center-div">
    <div class = "calendar-div">
      <body>
      <!-- Change this iframe when we get the official calnedar-->
      <iframe src="https://calendar.google.com/calendar/embed?src=andrew.hooper14%40tamu.edu&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </body>
    </div>
  </div>

<br>

</html>