<p id="notice"><%= notice %></p>

<h1 style ="text-align: center;">Welcome to the Scheduling Page!</h1>
<html>
  <div class = "center-div">
    <div class = "calendar-div">
      <body>
      Schedule will be here once linked.
      </body>
    </div>
  </div>

<br>

</html>