<p id="notice"><%= notice %></p>

<html>
  <header>
    <h1 style ="text-align: center;">Welcome to American Association Of Drilling Engineers</h1>
  </header>
  <body>
    <div style = "text-align: center; color: #ffffff">
      <h2>Who Are We&#63;</h2>
      <p>There will be a provided paragraph for this section</p>
    </div>
    <div style = "text-align: center; color: #ffffff">
      <h2>Alumni & Companies</h2>
    </div>
  </body>

</html>