<html>
  <head>
    <%= stylesheet_link_tag "home_pages" %>
  </head>

  
  <header class = "landing">
  <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong>
  <a class="navbar-brand" href="./home_pages">AADE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="./home_pages">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="./schedules">Schedule</a>
      <a class="nav-item nav-link" href="./officer_pages">Officer Page</a>
    </div>
  </div>
  </nav>
    <h1 style ="text-align: center;">Welcome to American Association Of Drilling Engineers</h1>
  </header>
  
  <body>
    <div class = "about text-center">
      <h2>Who Are We&#63;</h2>
      <p class = "paragraph">There will be a provided paragraph for this section</p>
    </div>

    <div class = "alumni text-center">
      <h2>Alumni & Companies</h2>
    </div>
  </body>

</html>