
<p>
  <strong>Company Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @company.website %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
