<h1 style ="text-align: center; margin-top: 100px;">Sign In</h1>
<h3 style="text-align: center; margin-top: 100px;">
  <%=  link_to "Sign in", person_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-info"%>
</h3>
