<p id="notice"><%= notice %></p>

<head>
  <link rel="stylesheet" href="/assets/officer_pages.scss">
</head>
<html>
  <header></header>
<h1 style ="text-align: center;">Welcome to the Officer/Contact us Page!</h1>
  <body>
    <h2 style ="color: #ffffff; text-align: center;">This will host the list of officers and a contact form</h2>
  </body>

</html>