<head>
  <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
  <a class="navbar-brand" href="./home_pages">AADE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="./home_pages">Home</a>
      <a class="nav-item nav-link" href="./schedules">Schedule</a>
      <a class="nav-item nav-link active" href="./officer_pages">Officer Page<span class="sr-only">(current)</span></a>
    </div>
  </div>
  </nav>

  <link rel="stylesheet" href="/assets/officer_pages.scss">
</head>
  <header></header>
<h1 style ="text-align: center;">Welcome to the Officer/Contact us Page!</h1>
  <body>
    <h2 style ="color: #ffffff; text-align: center;">This will host the list of officers and a contact form</h2>
  </body>

</html>