<h1>Editing Contact Form</h1>

<%= render 'form', contact_form: @contact_form %>

<%= link_to 'Show', @contact_form, :class=> "btn btn-primary" %>
<%= link_to 'Back', contact_forms_path, :class=> "btn btn-warning" %>
