// Place all the styles related to the homePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    color: #FFFFFF;
    font-size: large;
    background-color: #500000;
}
.center-div{
    flex-direction: center;
    text-align:center;
    margin: auto;
}

h1{
    color: #FFFFFF;
}

h2{
    color: #FFFFFF;
}
