// Place all the styles related to the homePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    color: #FFFFFF;
    font-size: large;
    background-color:#500000;
    margin: 0px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p {
    text-align: center;
}

.p-3 {
    padding: 3rem!important;
}

#landing {
    height: 100vh;
}

#about {
    height: 50vh;
    background-color:#690d0d;
}

#alumni {
    height: 50vh;
}
