// Place all the styles related to the homePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    color: #FFFFFF;
    font-size: large;
    background-color:#500000;
    margin: 0px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p {
    text-align: center;
}

.p-3 {
    padding: 3rem!important;
}

.h-20 {
    height: 20%;
}

#landing {
    height: 100vh;
}

#about {
    height: 50vh;
    background-color:#690d0d;
}

#alumni {
    height: 50vh;
}

body{
    min-height: 97vh;
    display: flex;
    flex-direction: column;
}

footer{
    bottom: 0;

}



//css for company cards

.center-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: #333333;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .column-div {
    display: flex;
    flex-direction: column;
    // background-color: rgba(250, 250, 250, 0.8);
    justify-content: center;
    align-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  
  .row-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  .card-img-top {
    width: 220px;
  }
  .card {
    /* Add shadows to create the "card" effect */
    background-color: #e5e5e5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 270px;
    height: 100%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 4px 4px;
    align-items: space-between;
    text-align: center;
    justify-items: space-between;
  }