// Place all the styles related to the Officers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-text {
  color: #ffffff;
  font-size: large;
  margin: 4px;
}

.center-div {
  background-color: #D6D3C4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 10px;
  align-content: center;
  width: 70vw;
  border-radius: 5px;
}

.column-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 1rem;
}

.left-align-div {
  flex-direction: center;
  text-align: left;
  padding-top: 5rem!important;
  padding-left: 3rem!important;
  padding-right: 3rem!important;
  padding-bottom: 1.5rem!important;
}
.row-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.card-img-top {
  width: 220px;
}
.card {
  /* Add shadows to create the "card" effect */
  background-color: #333333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 270px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 4px 4px;
  align-items: space-between;
  text-align: center;
  justify-items: space-between;
}

.actions {
  padding-top: 40px;
}
.contactHeader {
  text-align: center;
}
.contact_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.field {
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: row;
}
.actions {
  font-size: small;
}
.message {
  width: 500px;
  font-size: small;
  padding-left: 5px;
}
label {
  padding-top: 20px;
  font-size: large;
}
.person_id {
  width: 200px;
  font-size: small;
  padding-left: 5px;
  color: #11ff11;
  background-color: #11ff11;
}
.emailText {
  padding-top: 20px;
  font-size: x-large;
}
.email {
  width: 200px;
  font-size: small;
  padding-left: 5px;
}
.nameText {
  padding-top: 20px;
  font-size: x-large;
}
.name {
  width: 200px;
  font-size: small;
  padding-left: 5px;
}
.contact_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
  color: black;
  font-size: medium;
  border-radius: 25px;
}
h1 {
  color: black;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: black;
  font-size: 50px;
}
h3 {
  margin: 10px;
  color: #ffffff;
}

a:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}
