// Place all the styles related to the OfficerPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  color: #FFFFFF;
  font-size: large;
  background-color: #500000;
}
.center-div{
  flex-direction: center;
  text-align:center;
  margin: auto;
}
.calendar-div{
  margin: auto;
  background-color: #EEEEEE;
  height:600px;
  width:1000px;
  flex-direction:  center;
  text-align:center;
}
h1{
  color: #FFFFFF;
}
