
// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//#4400FA

body {
    color: #FFFFFF;
    font-size: large;
    background-color: #500000;
}

.center-div {
    text-align:center;
    margin: auto;
}

h1 {
    text-align: center;
}

.upcoming-events {
    padding-top: 17px;
    padding-bottom: 17px;
}

iframe {
    border: 0;
    width: 800px;
    height: 600px;
    padding-top: 17px;
    padding-bottom: 17px;
}