
// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//#4400FA


.center-div {
    text-align:center;
    margin: auto;
}

h1 {
    text-align: center;
}

.upcoming-events {
    color: black;
    text-align: center;
    font-size: 50px;
}

iframe {
    border: 0;
    width: 80vw;
    height: 70vh;
    padding-top: 17px;
    padding-bottom: 17px;
}