<nav class="navbar navbar-expand-lg navbar-light shadow-5-strong fixed-top" style="margin-bottom: 20px;">
  <a class="navbar-brand" href="/home_pages">AADE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home_pages">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/schedules">Schedule</a>
      <a class="nav-item nav-link" href="/officer_pages">Officer Page</a>
      <% if person_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin Menu
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admins">Admin Home</a></li>
            <li><a class="dropdown-item" href="/people">Manage Members</a></li>
            <li><a class="dropdown-item" href="/officers">Manage Officers</a></li>
            <li><a class="dropdown-item" href="/alumnis">Manage Alumni</a></li>
            <li><a class="dropdown-item" href="/companies">Manage Companies</a></li>
            <li><a class="dropdown-item" href="/positions">Manage Positions</a></li>
            <li><a class="dropdown-item" href="/contact_forms">Manage Contact Forms</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/admins/sign_out">Sign Out</a></li>
          </ul>
        </li>
      <% end %>
    </div>
  </div>
</nav>