<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer class="footer fixed-bottom">
    <div class="container" >
    <div style="text-align: center">
        <div style = "border-top: double" class="navbar-text ">
            <h4 > American Association of Drilling Engineers </h4>
            <a href="#" class="Instagram"  style="font-size: 30px; ;margin-right:25px"><i class="fa fa-instagram"></i></a>
            <a href="#" class="twitter"  style="font-size: 30px"><i class="fa fa-twitter"></i></a>
            <a href="#" class="linkedin"  style="font-size: 30px; margin-left:25px"><i class="fa fa-linkedin"></i></a>


        </div>
    </div>
    </div>
</footer>


