<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer >
    <div class="container" >
    <div style="text-align: center">
        <div style = "border-top: double" class="navbar-text ">
            <h4 > American Association of Drilling Engineers </h4>
            <a href="https://www.instagram.com/aadetamu/?hl=en" class="Instagram"  style="font-size: 30px; ;margin-right:25px"><i class="fa fa-instagram"></i></a>
            <a href="https://www.aade.org/" class="link"  style="font-size: 30px"><i class="fa fa-link"></i></a>
            <a href="https://www.linkedin.com/in/aade-tamu/recent-activity/" class="linkedin"  style="font-size: 30px; margin-left:25px"><i class="fa fa-linkedin"></i></a>


        </div>
    </div>
    </div>
</footer>


